<mat-toolbar>
    <span>Open Account</span>
</mat-toolbar>
<mat-card class="my-card">
    <mat-card-content>
        <form class="my-form" [formGroup]="accForm">
            <mat-form-field class="full-width" *ngIf="user.role === USER.roles.staff">
                <mat-label>Customer</mat-label>
                <mat-select formControlName="email">
                    <mat-option *ngFor="let customer of customers" [value]="customer.email">
                        {{customer.name + " " + (customer.lname || " ")}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Currency</mat-label>
                <mat-select formControlName="currency">
                    <mat-option *ngFor="let currency of currencies | keyvalue" [value]="currency.key">
                        {{currency.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="createAccount()" color="primary">CREATE</button>
    </mat-card-actions>
</mat-card>