<!-- Creates a layout with a left and right sidenav and implicit content. -->
<div *ngIf="user">
    Welcome {{user.name + " " + (user.lname ? user.lname : " !!!")}}

    Account Number: {{account.no}}
    Balance: {{account.balance}}
    Currency: {{account.currency}}
</div>
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <div *ngFor="let item of menuOptions">
            <a mat-list-item [routerLink]="item.link"> {{item.label}} </a>
        </div>
    </mat-sidenav>
    <section>
        <div style="height: 88vh;">

            <router-outlet></router-outlet>
        </div>
    </section>
</mat-sidenav-container>